.container{
    align-items: center;
    text-align: center;
}
h1{
    text-align: center;
}

@media (max-width:450px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    label{
        margin: 10px 0;
    }
    input{
        margin: 10px 0;
    }
}